.logo__title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #3a4d5c;
    font-family: 'Ubuntu';
}

.menu__btn,
.menu__list {
    background: #3a4d5c;
}

.menu__btn {
    color: #ffffff;
}

div.image-block {
    background-color: #e8e8e8;
    padding: 0;
}

.md__image-caption {
    font-weight: 700;
    color: #3a4d5c;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}

.all-posts {
    position: relative;
    padding-bottom: 5px;
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    border-top: 3px solid #D38412;
    margin: 0 0 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    display: block;
    margin-block-start: 1.33em;
    //margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
