.logo__title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #3a4d5c;
    font-family: 'Ubuntu';
}

.menu__btn,
.menu__list {
    background: #3a4d5c;
}

.menu__btn {
    color: #ffffff;
}

div.image-block {
    background-color: #e8e8e8;
    padding: 0;
}

.md__image-caption {
    font-weight: 700;
    color: #3a4d5c;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}
